# Multiple Linear Regression

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
df=pd.read_csv('Ad.csv')
df

   Sno     TV  News Paper  Radio  Sales
0    1  239.8          89     67     34
1    2  789.0         665     87     54
2    3  345.0         987     64     65
3    4  234.0         654     87     23
4    5  231.0         321     43     56
5    6  112.0         120    345     67

In [3]:
feature_col=['TV', 'News Paper', 'Radio']
feature_col

['TV', 'News Paper', 'Radio']

In [6]:
x=df[feature_col]
y=df.Sales

In [11]:
lm=LinearRegression()

In [12]:
lm.fit(x,y)  # Model is getting trained

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
lm.predict([[50,20,10]])

array([30.64541679])

# Standard Scaler

In [21]:
from sklearn.preprocessing import StandardScaler

In [26]:
x=pd.DataFrame({2000,2,100})
x

      0
0  2000
1     2
2   100

In [27]:
scaler=StandardScaler()

In [28]:
x_scaled=scaler.fit_transform(x)
x_scaled

array([[ 1.41287463],
       [-0.75971915],
       [-0.65315549]])

# Formula for Standard Scaler

# z=(x-Mean)/Std

In [29]:
x=(2000,2,100)

In [30]:
mean=np.mean(x)
mean

700.6666666666666

In [31]:
std=np.std(x)
std

919.6380930682582

In [32]:
(2000-700.6)/919.6

1.413005654632449

In [33]:
(2-700.6)/919.6

-0.75967812092214

In [35]:
(100-700.6)/919.6 # this formula works behind the standard scaler

-0.65311004784689

# Train Test Split(Hold Out Method)

In [36]:
from sklearn.model_selection import train_test_split

In [37]:
data=pd.read_csv('Advertising.csv')

In [38]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [39]:
data.shape

(200, 5)

In [41]:
y=data['sales']
x=data.drop(columns=['sales'])

In [42]:
y.head()

0    22.1
1    10.4
2     9.3
3    18.5
4    12.9
Name: sales, dtype: float64

In [43]:
x.head()

   Unnamed: 0     TV  radio  newspaper
0           1  230.1   37.8       69.2
1           2   44.5   39.3       45.1
2           3   17.2   45.9       69.3
3           4  151.5   41.3       58.5
4           5  180.8   10.8       58.4

In [44]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.30,random_state=40)

In [45]:
x_train.head()

     Unnamed: 0     TV  radio  newspaper
188         189  286.0   13.9        3.7
170         171   50.0   11.6       18.4
107         108   90.4    0.3       23.2
65           66   69.0    9.3        0.9
109         110  255.4   26.9        5.5

In [55]:
x_train.shape

(140, 4)

In [48]:
y_train.head()

188    15.9
170     8.4
107     8.7
65      9.3
109    19.8
Name: sales, dtype: float64

In [57]:
y_train.shape

(140,)

In [49]:
x_test.head()

     Unnamed: 0     TV  radio  newspaper
96           97  197.6    3.5        5.9
5             6    8.7   48.9       75.0
116         117  139.2   14.3       25.6
35           36  290.7    4.1        8.5
183         184  287.6   43.0       71.8

In [58]:
x_test.shape

(60, 4)

In [50]:
y_test.head()

96     11.7
5       7.2
116    12.2
35     12.8
183    26.2
Name: sales, dtype: float64

In [59]:
y_test.shape

(60,)

In [53]:
total_records=len(x_train)+len(x_test)

In [54]:
total_records

200