# Variance Inflation Factor

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [9]:
data=pd.read_csv('Admission_predict.csv')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admits
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65
...,...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [10]:
x=data.drop(columns=['Chance of Admits'])
y=data['Chance of Admits']

In [11]:
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)

In [12]:
x_scaled

array([[-1.72772608,  1.76210664,  1.74697064, ...,  1.16732114,
         1.76481828,  0.90911166],
       [-1.7190658 ,  0.62765641, -0.06763531, ...,  1.16732114,
         0.45515126,  0.90911166],
       [-1.71040552, -0.07046681, -0.56252785, ...,  0.05293342,
        -1.00563118,  0.90911166],
       ...,
       [ 1.71040552,  1.15124883,  1.41704229, ...,  1.16732114,
         1.42900622,  0.90911166],
       [ 1.7190658 , -0.41952842, -0.72749202, ...,  0.61012728,
         0.30403584, -1.09997489],
       [ 1.72772608,  1.41304503,  1.58200646, ...,  0.61012728,
         1.78160888,  0.90911166]])

In [16]:
vif=pd.DataFrame()
vif["VIF"]=[variance_inflation_factor(x_scaled, i) for i in range(x_scaled.shape[1])]
vif["Features"]=x.columns

In [17]:
vif

        VIF           Features
0  1.087496         Serial No.
1  4.617117          GRE Score
2  4.357634        TOEFL Score
3  2.959083  University Rating
4  3.113171                SOP
5  2.432982               LOR
6  5.419519               CGPA
7  1.543329           Research

##### from this observation it is clearly shows that CGPA is greater than 5 it contains the Multicolinearlity. GRE Score and TOEFL Score is interrelated to each other